body{
  background-color: #1d1d1d;
  scroll-behavior: smooth;
}
.ShopComponent{
  padding: 1rem 1.5rem;
  animation: slideLeft 1s;
  padding-top: -4rem;

  #image-container {
    width: 200px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;
    width: 100%;
  }

  div{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #eee;
    margin-top: 3rem;
  }
}


@keyframes slideLeft{
  from{margin-left: -200px; opacity: 0;}
  to{margin-left: 0px;  opacity: 1;}
}


#rifles{
  #image-container{
    width: 180px;
  }
}

#rifles.container > div > div:nth-child(1){
  display: block;
  transform: rotateX(45);
  border: 1px solid red;
  margin: 0 auto;
}