body{
  background-color: #1d1d1d;
}

.ShopComponent{
  padding: 1rem 1.5rem;
  animation: slideLeft 1s;

  #image-container {
    width: 125px;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 140px;
    width: 100%;
  }

  div{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #eee;
    margin-top: 3rem;
  }
}

@keyframes slideLeft{
  from{margin-left: -200px; opacity: 0;}
  to{margin-left: 0px;  opacity: 1;}
}


#rifles{
  #image-container{
    width: 180px;
  }
}