body{
    background-color: #1d1d1d;
  }
  
  .ShopComponent{
    box-shadow: 10px 10px 18px 16px #0f0f0f;
    padding: 1rem 1.5rem;
  
    #image-container {
    width: 125px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px;
    }
  
    div{
      display: flex;
      align-items: center;
      gap: 5rem;
      color: #eee;
      margin-top: 3rem;
    }
  }